<!DOCTYPE html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HopeTrade</title>
    <link rel="stylesheet" href="../static/show-posts.css">
</head>

{% extends 'base.html' %}

{% block content %}

    {% csrf_token %}
    <div>
        <h1 class="texto2">Hola {{ nombre_usuario }}</h1>
    </div>
    
    <div>
        <h2 class="texto1">Publicaciones</h2>
        <form method="GET" action="{% url 'crearPublicaciones' %}">
            <button type="submit" class="boton2"> Realizar Publicacion </button>
        </form>
    </div>

    <div>
        <h2 class="texto1">Donaciones</h2>
        <form method="GET" action="{% url 'make-donation' %}">
            <button type="submit" class="boton2"> Realizar Donacion </button>
        </form>
    </div>

    <div class="container">
        <div class="filters">
            <form method="GET" action="{% url 'all-posts' %}">
                <div class="texto1">
                    <h3>Filtrar por Categorías:</h3>
                    <label><input type="checkbox" name="category" value="alimento"> Alimento</label><br>
                    <label><input type="checkbox" name="category" value="limpieza"> Limpieza</label><br>
                    <label><input type="checkbox" name="category" value="higiene"> Higiene</label><br>
                    <label><input type="checkbox" name="category" value="electrodomestico"> Electrodoméstico</label><br>
                    <label><input type="checkbox" name="category" value="juguete"> Juguete</label><br>
                    <button type="submit" class="boton3">Filtrar Publicaciones</button>
                </div>
                
                <div>
                    <div class="texto1">
                        <h3>Buscar por Título:</h3>
                        <input type="text" name="search" placeholder="Buscar título" value="{{ request.GET.search }}">
                        <button type="submit" class="boton3">Buscar</button>
                    </div>
                </div>

            </form>
        </div>
        
        <div class="posts">
            {% if msg %}
            <div class="alerta1 alert-{{ message.tags }}">
                {{ msg }}
            </div>
            {% endif %}


            {% for post in posts %}

            <div class="texto1">
                <h2> {{ post.title }} </h2>
            
                <p>Usuario: {{ post.user.name }}</p>
                <form method="GET" action="{% url 'post' post.id %}">
                    <button type="submit" class="boton3">Ver Publicacion</button>
                </form>
                <form method="POST" action="{% url 'delete_post' post.id %}">
                    {% csrf_token %}
                    <button type="submit" class="boton3">Eliminar Publicacion</button>
                </form>
            </div>
            
            {% endfor %}
        </div>
    </div>

{% endblock %}