<!DOCTYPE html>

{% extends 'base.html' %}


{% block content %}
    <div>
        <h1 class="texto2">Registrar Donacion de Articulo</h1>
    </div>

    <div>
        {% if msg %}
            <div class="alerta1 alert-{{ message.tags }}">
                {{ msg }}
            </div>
        {% endif %}  
    </div>
    


    <form method="POST" class="texto1">
        {% csrf_token %}
        {{form}}
        <button class="boton2">
            Registrar Donacion de Articulo
        </button>
    </form>


{% endblock %}