<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="../static/base.css">
</head>
<body>
    <nav>
        <div class="logo">
            <h1 class="logito">HopeTrade</h1>
        </div>
        <ul>
            <li>
                {% if request.user.rol == "3" %}
                    <a href="{% url 'admin-posts' %}">Home</a>
                {% else %}
                    <a href="{% url 'all-posts' %}">Home</a>
                {% endif %}
            </li>
            {% if request.user.rol == "2" or request.user.rol == "3" %}
                <li>
                    <a href="#"> Ver intercambios del dia </a> <!--agregar ruta de intercambios del dia-->
                </li>
            {% endif %}
            {% if request.user.rol == "2" or request.user.rol == "3" %}
                <li>
                    <a href="{% url 'donation' %}"> Donaciones </a>
                </li>
            {% endif %}
            {% if request.user.rol == "3" %}
                <li>
                    <a href="{% url 'view_asignar_colaborador' %}"> Asignar Colaborador </a>
                </li>
            {% endif %}
            <li>
                <a href="{% url 'miperfil' %}">Ver Mi Perfil</a>
            </li>
            <li>
                <a href="{% url 'about' %}">Sobre Nosotros</a>
            </li>
            <li onclick="cerrarSesion(event)">
                <a href="{% url 'logout' %}"></button>Cerrar Sesion</a>
            </li>
            
        </ul>
    </nav>

    <script>
        function cerrarSesion(e){
            if (confirm("Seguro que quieres cerrar sesion?")) {
                 window.location.reload()
            } else {
                e.preventDefault()
            }
        }
    </script>

    {% block content %}
    {% endblock %}
</body>
</html>