<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="../static/base.css">
</head>
<body>
    <nav>
        <div class="logo">
            <h1 class="logito">HopeTrade</h1>
        </div>
        <ul>
            <li>
                <a href="{% url 'all-posts' %}">Home</a>
            </li>
            {% if request.user.rol == "3" %}
                <li>
                    <a href="{% url 'all-posts' %}">Ver intercambios del dia</a>
                </li>
            {% endif %}
            <li>
                <a href="{% url 'miperfil' %}">Ver Mi Perfil</a>
            </li>
            <li>
                <a href="{% url 'about' %}">Sobre Nosotros</a>
            </li>
            <li>
                <a href="{% url 'logout' %}">Cerrar Sesion</a>
            </li>
            
        </ul>
    </nav>

    {% block content %}
    {% endblock %}
</body>
</html>