<!DOCTYPE html>

{% extends 'base.html' %}


{% block content %}

    <div>
        <h2 class="titulo1">Calificar intercambio de: {{intercambio}}</h2>
    </div>
    
    <div>

        <form method="POST" class ="texto2" >
            {% csrf_token %}
            {{form}}
            <button class ="boton2">
                Calificar
            </button>
        </form>

    </div>

    {% if msg %}
    <div class="alerta1 alert-info">
        {{ msg }}
    </div>
    {% endif %}

{% endblock %}