<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HopeTrade</title>
    <link rel="stylesheet" href="../static/miperfil.css">
</head>


{% extends 'base.html' %}


{% block content %}
    {% csrf_token %}
    <h1>Mi perfil</h1>
    <div class="containerGeneral">
            <label>Nombre:</label>
            <span>{{ name }}</span>
        
        
            <label>Apellido:</label>
            <span>{{ surname }}</span>
        
            <label>Email:</label>
            <span>{{ mail }}</span>
       
            <label>DNI:</label>
            <span>{{ dni }}</span>
        
            <label>Fecha:</label>
            <span>{{ date }}</span>


            <div class="divFormulario">
                <form method="GET" action="{% url 'my-posts' %}">
                    <button type="submit">Ver Publicaciones</button>
                </form>
            </div>
            <div class="divEditar">
                <a href="{% url 'editar-perfil' %}"><button>Editar Perfil</button></a>
            </div>
            <div class="divEditar">
                <a href="#"><button>Ver Intercambios</button></a>
            </div>
            <a href="{% url 'user-ratings' id=user.id %}" class="btn btn-primary"><button>Ver Calificaciones</button></a>
            <div class="divEditar">
                <a href="{%url 'offers'%}"><button>Ver mis ofertas</button></a>
            </div>
            <div class="divFormulario">
                <form method="GET" action="{% url 'my-cards' %}">
                    <button type="submit">Ver mis Tarjetas</button>
                </form>
            </div>
    </div>
    
   


{% endblock %}
