<!DOCTYPE html>


{% block content %}
    {% csrf_token %}

    <div>
        <h1>Mi perfil</h1>
        <div>
            <label>Nombre:</label>
            <span>{{ name }}</span>
        </div>
        <div>
            <label>Apellido:</label>
            <span>{{ surname }}</span>
        </div>
        <div>
            <label>Email:</label>
            <span>{{ mail }}</span>
        </div>
        <div>
            <label>DNI:</label>
            <span>{{ dni }}</span>
        </div>
        <div>
            <label>Fecha:</label>
            <span>{{ date }}</span>
        </div>
    </div>

{% endblock %}
