<!DOCTYPE html>

{% extends 'base.html' %}


{% block content %}
    {% csrf_token %}
    <h1>Mis Publicaciones</h1>

    {% if msg %}
    <div class="alert alert-{{ message.tags }}">
        {{ msg }}
    </div>
    {% endif %}

    {% for post in myPosts %}
        <div>
            <h2>{{ post.title }}</h2>
            <form method="GET" action="{% url 'view-my-post' post.id %}">
                <button type="submit">Ver Mi Publicacion</button>
            </form>

            <form method="POST" action="{% url 'user_delete_post' post.id %}">
                {% csrf_token %}
                <button type="submit">Eliminar Publicacion</button>
            </form>

            <form method="GET" action="{% url 'edit-publication' post.id %}">
                <button type="submit">Editar Mi Publicación</button>
            </form>
            <form method="GET" action="{% url 'show_my_offers' post.id %}">
                <!--<input type="hidden" name="title" value="{{ post.title }}">-->
                <button type="submit">Ver Ofertas</button>
            </form>
            
        </div>

    {% endfor %}

{% endblock %}