<!DOCTYPE html>

{% extends 'base.html' %}


{% block content %}
    {% csrf_token %}
    <h1>Mis Publicaciones</h1>

    {% if msg %}
    <div class="alert alert-{{ message.tags }}">
        {{ msg }}
    </div>
    {% endif %}

    {% for post in myPosts %}
        <div>
            <h2>{{ post.title }}</h2>
            <form method="GET" action="{% url 'view-my-post' post.id %}">
                <button type="submit">Ver Mi Publicacion</button>
            </form>

            <form method="GET" action="#">
                <button type="submit">Eliminar Publicacion</button>
            </form>
            <form method="GET" action="#">
                <button type="submit">Editar Mi Publicacion</button>
            </form>
            <form method="GET" action="#">
                <button type="submit">Ver Ofertas</button>
            </form>
        </div>

    {% endfor %}

{% endblock %}