<!DOCTYPE html>

{% extends 'base.html' %}

{% block content %}

{% csrf_token %}
    <div>
       <h1 class="texto2"> Mis ofertas</h1> 
    </div>
    
    <div>
        {% if msg %}
            <div class="alerta1 alert-{{ message.tags }}">
            {{ msg }}
            </div>
        {% endif %}
    </div>
        
    {% for offer in myOffers %}
        <div class="texto2">
            <h2>{{ offer.post.title }}</h2>
            <form method="POST" action="{% url 'cancel_offer' offer.id %}">
                {% csrf_token %}
                <button type="submit" class="boton2">Cancelar oferta</button>
            </form>
        </div>
        
    {% endfor %}
        
{% endblock %}