<!DOCTYPE html>

{% extends 'base.html' %}


{% block content %}
    <div>
        <h1 class="texto2">Donaciones de Transferencia</h1>
    </div>
    

    {% if msg %}
        <div>
            <div class="alerta1 alert-{{ message.tags }}">
                {{ msg }}
            </div>
        </div>
        
    {% endif %}

    {% if transfers %}
        <table style="border-collapse: separate; border-spacing: 20px;" class="texto1">
            <thead>
                <tr>
                    <th>Importe</th>
                    <th>Fecha</th>
                    <th>Nombre</th>
                    <th>Apellido</th>
                    <th>Dni</th>
                </tr>
            </thead>
            <tbody>
                {% for transfer in transfers %}
                    <tr>
                        <td>{{ transfer.amount }}</td>
                        <td>{{ transfer.date }}</td>
                        <td>{{ transfer.name }}</td>
                        <td>{{ transfer.surname}}</td>
                        <td>{{ transfer.dniDonor }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% endif %}

    {% if total_amount %}
        <div>
            <p class="texto1">El total donado es: $ {{ total_amount }}</p>
        </div>
    {% endif %}
    

{% endblock %}