<!DOCTYPE html>

{% extends 'base.html' %}


{% block content %}
    <h1>Intercambios Realizados</h1>

    {% if msg %}
        <div class="alert alert-{{ message.tags }}">
            {{ msg }}
        </div>
    {% endif %}

    {% if intercambios %}

        <table  style="border-collapse: separate; border-spacing: 20px;">
            <thead>
                <tr>
                    <th>Fecha</th>
                    <th>Usuarios</th>
                    <th>Descripcion</th>
                </tr>
            </thead>
            <tbody>
                {% for intercambio in intercambios %}
                    <tr>
                        <td>{{ intercambio.date }}</td>
                        <td>{{ intercambio.post.user.name }} (dni: {{ intercambio.post.user.dni }}) y {{ intercambio.offerOwner.name }} (dni: {{ intercambio.offerOwner.dni }})</td>
                        <td>Se intercambio: {{ intercambio.post.description }} por {{ intercambio.offer.description }} </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% endif %}

{% endblock %}