<!DOCTYPE html>

{% extends 'base.html' %}


{% block content %}

    <div>
        <h1 class="texto2">Intercambios pendientes del dia</h1>
    </div>
    

    <div>
       {% if msg %}
            <div class="alerta1 alert-{{ message.tags }}">
                {{ msg }}
            </div>
        {% endif %} 
    </div>
    
    

    {% for intercambio in intercambios %}
        <div class="texto1">
            <h2> {{intercambio.post.title}} </h2>
            <p>Participantes:</p> 
            <p> {{intercambio.post.user.name}}. Dni: {{intercambio.post.user.dni}} </p>
            <p>{{intercambio.offerOwner.name}}. Dni: {{intercambio.offerOwner.dni}}</p>

            <form action="{% url 'confirm_intercambio' intercambio.id %}" method="POST">
                {% csrf_token %}
                <button class="boton3">Confirmar Intercambio</button>
            </form>
            <form action="{% url 'form_decline_intercambio' intercambio.id %}" method="GET">
                {% csrf_token %}
                <button class="boton3">Eliminar Intercambio</button>
            </form>

        </div>

    {% endfor %}



{% endblock %}