<!DOCTYPE html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HopeTrade</title>
    <link rel="stylesheet" href="../static/show-posts.css">
</head>

{% extends 'base.html' %}




{% block content %}
    {% csrf_token %}
    <h1>Hola {{ nombre_usuario }}</h1>

    <h1>Publicaciones</h1>
    
    <form method="GET" action="{% url 'crearPublicaciones' %}">
        <button type="submit"> Realizar Publicacion </button>
    </form>
    
    <div class="container">
        <div class="filters">
            <form method="GET" action="{% url 'all-posts' %}">
                <div>
                    <h3>Filtrar por Categorías:</h3>
                    <label><input type="checkbox" name="category" value="alimento"> Alimento</label><br>
                    <label><input type="checkbox" name="category" value="limpieza"> Limpieza</label><br>
                    <label><input type="checkbox" name="category" value="higiene"> Higiene</label><br>
                    <label><input type="checkbox" name="category" value="electrodomestico"> Electrodoméstico</label><br>
                    <label><input type="checkbox" name="category" value="juguete"> Juguete</label><br>
                </div>
                <button type="submit">Filtrar Publicaciones</button>

                <div>
                    <h3>Buscar por Título:</h3>
                    <input type="text" name="search" placeholder="Buscar título" value="{{ request.GET.search }}">
                </div>

                
                <button type="submit">Buscar</button>
            </form>
        </div>
        
        <div class="posts">
            {% if msg %}
            <div class="alert alert-{{ message.tags }}">
                {{ msg }}
            </div>
            {% endif %}


            {% for post in posts %}

            <div>
                <h2> {{ post.title }} </h2>
            
                <p>Usuario: {{ post.user.name }}</p>
                <form method="GET" action="{% url 'post' post.id %}">
                    <button type="submit">Ver Publicacion</button> <!-- Antes decia Ver Usuario -->
                </form>
            </div>
            
            {% endfor %}
        </div>
    </div>

{% endblock %}