<!DOCTYPE html>

{% extends 'base.html' %}


{% block content %}
    <div>
        <h1 class="texto2">Articulos Donados</h1>
    </div>
    
    <div>
        {% if msg %}
            <div class="alerta1 alert-{{ message.tags }}">
                {{ msg }}
            </div>
        {% endif %}
    </div>
    

    <table class="texto1">
        <thead>
            <tr>
                <th>Articulo</th>
                <th>Categoria</th>
                <th>Fecha</th>
                <th>Nombre</th>
                <th>Apellido</th>
                <th>Dni</th>
            </tr>
        </thead>
        <tbody>
            {% for article in articles %}
                <tr>
                    <td>{{ article.article }}</td>
                    <td>{{ article.category }}</td>
                    <td>{{ article.date }}</td>
                    <td>{{ article.name }}</td>
                    <td>{{ article.surname}}</td>
                    <td>{{ article.dniDonor }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

{% endblock %}