<!DOCTYPE html>

{% extends 'base.html' %}

{% block content %}
    <h1>Ofertas de {{ title }} </h1>

    {% if msg %}
    <div class="alert alert-info">
        {{ msg }}
    </div>
    {% endif %}

    {% for offer in myOffers %}
        <div>
            
        
            <h2>{{ offer.user.name }} {{ offer.user.surname }}</h2>
            <form method="GET" action="{% url 'profile' offer.user.id %}">
                <button type="submit">Ver Usuario</button> 
            </form>
            <p> {{ offer.description }}</p>
            <p> {{ offer.date }}</p>
            <p> {{ offer.hour|time:"H:i" }}</p>
            <p> {{ offer.sede }}</p>
            
            <form method="POST" action="{% url 'accept_offer' offer.id %}">
                {% csrf_token %}
                <button type="submit">Aceptar oferta</button>
            </form>

            <form method="POST" action="{% url 'decline_offer' offer.id %}">
                {% csrf_token %}
                <button type="submit">Rechazar oferta</button>
            </form>
        </div>
    {% endfor %}
{% endblock %}

