<!DOCTYPE html>

{% extends 'base.html' %}
{% load static %}

{% block content %}
{% csrf_token %}
    <h2> {{ title }}</h2>

    <div class="post">
        <div class="info-publicacion">
            <div>
                <label>Descripción:</label> 
                <span>{{ description }}</span>
            </div>
            <div>
                <label>Estado:</label> 
                <span>{{ state }}</span>
            </div>
            <div>
                <label>Categoría:</label> 
                <span>{{ category }}</span>
            </div>
            <div>
                {% if date != null %}
                    <label>Fecha de Vencimiento:</label> 
                    <span>{{ date }}</span>
                {% endif %}
            </div>
            <div>
                <img src="{% static file  %}", width="350">
            </div>
            <form method="GET" action="{% url 'view_coments' %}">
                <input type="hidden" name="id" value="{{ id }}">
                <button type="submit">Ver comentarios</button>
            </form>
        </div>
    </div>
    

{% endblock %}