<!DOCTYPE html>

{% extends 'base.html' %}

{% load static %}

{% block content %}
{% csrf_token %}
    <h2> {{ title }}</h2>
    <h3> {{ user.name }} </h3> 
    <form method="GET" action="{% url 'profile' user.id %}">
        <button type="submit">Ver Usuario</button> 
    </form>

    <div class="post">
        <div class="info-publicacion">
            <div>
                <label>Descripción:</label> 
                <span>{{ description }}</span>
            </div>
            <div>
                <label>Estado:</label> 
                <span>{{ state }}</span>
            </div>
            <div>
                <label>Categoría:</label> 
                <span>{{ category }}</span>
            </div>
            <div>
                <label>Fecha de Vencimiento:</label> 
                <span>{{ date }}</span>
            </div>
            <img src="{% static file %}", width="350">
            <form method="GET" action=#>
                <button type="submit">Realizar comentario</button> <!-- url 'view-comments' post.id  -->
            </form>
            <form method="GET" action=#>         
                <button type="submit">Ver comentarios</button> <!-- Antes decia Ver Usuario -->
            </form>
            <form method="GET" action=#>
                <button type="submit">Realizar oferta</button> <!-- url 'make-offer' post.id -->
            </form>
        </div>
    </div>
    

{% endblock %}