<!DOCTYPE html>

{% extends 'base.html' %}
{% load static %}

{% block content %}
{% csrf_token %}
    <h2 class="texto2"> {{ title }}</h2>

    <div class="post">

        <div class="info-publicacion">

            <div class="texto1">
                <label >Descripción:</label> 
                <span>{{ description }}</span>
            </div> 

            <div class="texto1">
                <label>Estado:</label> 
                <span>{{ state }}</span>
            </div>

            <div class="texto1">
                <label>Categoría:</label> 
                <span>{{ category }}</span>
            </div>

            {% if date != null %}
                <div class="texto1">
                    <label>Fecha de Vencimiento:</label> 
                    <span>{{ date }}</span>
                </div>
            {% endif %}

            <div>
                <img src="{% static file  %}", width="350">
            </div>

            <form method="GET" action="{% url 'view_coments' %}">
                <input type="hidden" name="id" value="{{ id }}">
                <button type="submit" class="boton3">Ver comentarios</button>
            </form>

        </div>

    </div>

{% endblock %}