body {
    font-family: Arial, sans-serif;
    background-color: #e8e8e7;
    color: #000; /* color de texto negro */
    margin: 0;
    padding: 0;
}

header {
    background-color: #61b0b2;
    padding: 20px;
    color: #fff; /* color de texto blanco */
}

.logo {
    color: #e8e8e7; /* Esto parece no ser necesario, ya que no estás utilizando color de texto en el div */
    background-color: #fff; /* Fondo blanco */
    border-radius: 5px; /* Bordes redondeados */
    padding: 5px; /* Ajusta el relleno según sea necesario */
    width: 220px; /* Ancho */
    height: 50px; /* Alto */
    margin:auto;
}

.logo h1 {
    margin: 0;
    width: 100%; /* Ancho */
    text-decoration: none;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 10px;
}

nav ul li a {
    color: #fff; /* color de texto blanco */
    text-decoration: none;
    padding: 5px 10px;
    border-radius: 5px;
    background-color: #79b18d;
    text-decoration: none;
}

nav ul li a:hover {
    background-color: #92b268;
}

h1 {
    color: #abb444;
    text-align: center;
    

}

button {
    color: #fff; /* color de texto blanco */
    background-color: #abb444;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    text-decoration: none;
}

button:hover {
    background-color: #92b268;
}

a {
    text-decoration: none;
}

a.principal{
    width: 220px;
}

.logoHopeTrade{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: #61b0b2;
}