<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Asignar Colaborador</title>
</head>
<body>
    <h1>Asignar Colaborador</h1>
    {% if mensaje %}
    <div>{{ mensaje }}</div>
    {% endif %}
    <form method="post">
        {% csrf_token %}
        <label for="dni">DNI:</label>
        <input type="text" id="dni" name="dni">
        <button type="submit">Asignar Colaborador</button>
    </form>
</body>
</html>
