<!DOCTYPE html>

{% extends 'base.html' %}

{% block content %}
    <h1>Calificaciones de {{ user.name }} {{ user.surname }}</h1>

    {% if msg %}
    <div class="alert alert-info">
        {{ msg }}
    </div>
    {% endif %}


    {% if promedio is not None %}
    <h2>Promedio de Calificaciones: {{ promedio }}</h2>
    {% endif %}

    {% for calificacion in user_calificaciones %}
    <div>
        <h3>{{ calificacion.user.name }} {{ calificacion.user.surname }} Calificó: {{ calificacion.calification }} </h3>
    </div>
    {% endfor %}

{% endblock %}