<!DOCTYPE html>

{% extends 'base.html' %}

{% block content %}

    <div>
        <h1 class="boton1">Calificaciones de {{ user.name }} {{ user.surname }}</h1>
    </div>
    

    {% if msg %}
    <div class="alerta1 alert-info">
        {{ msg }}
    </div>
    {% endif %}

    {% if promedio is not None %}
        <div>
            <h2 class="boton1">Promedio de Calificaciones: {{ promedio }}</h2>
        </div>
    {% endif %}

    {% for calificacion in user_calificaciones %}
    <div>
        <h3 class="texto1">{{ calificacion.user.name }} {{ calificacion.user.surname }} Calificó: {{ calificacion.calification }}</h3>
    </div>
    {% endfor %}

{% endblock %}