<!DOCTYPE html>

{% extends 'base.html' %}

{% block content %}

    {% csrf_token %}
    <div>
        <h1 class="texto2">Perfil de {{ name }}</h1>
    </div>
    
    <div class="texto1">
        <p>Nombre: {{ name }}  {{ surname }}</p>
        <p>Email: {{ email }}</p>
        <p>Calificación: {{ calification }}</p>
    </div>
    
    <br>
    <div class="texto1">
        <div>
            <a href="{% url 'user-posts' id %}" ><button class="boton2">Ver Publicaciones</button></a>
        </div>
            
        <div>
            <a href="{% url 'show_user_intercambios' id %}" method="GET"><button class="boton2">Ver Intercambios</button></a> 
        </div>

        <div>
            <a href="{% url 'user-ratings' id=id %}"><button class="boton2">Ver Calificaciones</button></a>
        </div>


    </div>
    

{% endblock %}