<!DOCTYPE html>

{% extends 'base.html' %}

{% block content %}

    {% csrf_token %}

    <h1>Perfil de {{ name }}</h1>
    <p>Nombre: {{ name }}  {{ surname }}</p>
    <p>Email: {{ email }}</p>
    <p>Calificación: {{ calification }}</p>
    <br>
    <a href="{% url 'user-posts' id %}"><button>Ver Publicaciones</button></a>  
    <a href="#"><button>Ver Intercambios</button></a>  <!--{% url 'user-exchanges' %}-->
    <a href="#"><button>Ver Calificaciones</button></a> <!--{% url 'user-ratings' %}-->

{% endblock %}