body {
    font-family: Arial, sans-serif;
    background-color: #e8e8e7;
    color: #000; /* color de texto negro */
    margin: 0;
    padding: 0;
}

h1 {
    color: #abb444; 
    text-align: center;
}

.containerGeneral {
    text-align: left;
    display: inline-block;
    background-color: #61b0b2;
    height: 500px;
}

.containerGeneral label {
    margin-left: 30px;
}

.divFormulario {
    margin-bottom: 10px;
    margin-top: 10px;
}

a {
    color: #abb444;
    text-decoration: none;
    
    
}

a:hover {
    text-decoration: underline;
}